
.coverWeb
{
	position:fixed;
	top:0;
	left:0;
	background: rgba(0, 0, 0, 0.5);
	height:100vh;
	width:100vw;
	padding:20px;
	display: -webkit-flex;
	display: none;
	justify-content: center;	
}



.login-input
{
	margin-bottom:10px;
}

.login_Or {

	position: relative;
	color: #aaa;
	height:auto;
	margin-bottom:5px; 
	margin-top:10px;
}


.inputSpan
{
	border-right:0px;
	background-color: #FCFCFC;
	color:grey;
}

.inputBar
{
	padding-left:0px;
	border-left:0px;
	background-color: #FCFCFC;
	color:grey;
}

#signUpUnderLogin
{
	color:#5959fb;
	cursor:pointer;
}

#signUpUnderLogin:hover
{
	color:#8b8bff;
}

/* override of bootstrap .checkbox */
.checkbox
{
	
	text-align:left; 
	font-family:Arial;
}

.span_Or 
{
	display: block;
	position: absolute;
	left: 50%;
	top: 0px;
	background-color: #F9F9F9;

	width: 3em;
	margin-left: -1.5em;
	text-align: center;

}	

.hr_Or 
{
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 12px !important;
	margin-bottom: 0px !important;
}

	
		
/*
/*
/* 			STARTS
/*
Login Button CSS for Google button 
/*
/*
/*
*/

.loginBtn {
   box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin-top: 15px;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  background: #FFF;
}

.loginBtn:before
{
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;

}


.loginBtn--google 
{
  content: url('icon_google.png');
  color: grey;
  border: 0.5px solid #d1cbcb;
}
.loginBtn--google:before 
{
  content: url('icon_google.png');
  border-right: #4885ed 2px solid;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #FCFCFC;
}




.loginBtn--facebook 
{
  background: #3B5998;
  color: #FFF;

}

.loginBtn--facebook:before 
{
  content: url('fb_icon.png');
}
.loginBtn--facebook :hover,
.loginBtn--facebook :focus {
}

/*
/*
/* 			ENDS
/*
Login Button CSS for Google button 
/*
/*
/*
*/